<section>
    <div class="card">
        <div class="card-header d-flex flex-row-reverse">
            <p>{{user.name}} on {{ format_date createdAt}}</p>
        </div>
        <div class="card-body">
            <h6>{{comment_detail}}</h6>
        </div>
    </div>
</section>