<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <header class="rounded-3 bg-secondary-subtle text-secondary-emphasis border border-secondary-subtle rounded-3 ">
        <nav class="py-3 border-bottom border-primary bg-opacity-10">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav fs-4 fw-normal text-body-tertiary">

            <li class="nav-item col-6 col-lg-auto"><a class="nav-link py-2 px-0 px-lg-2 active" href="/">Home</a></li>

            <li class="nav-item col-6 col-lg-auto"><a class="nav-link py-2 px-0 px-lg-2 active"
                    href="/dashboard">Dashboard</a></li>

            <li class="nav-item col-6 col-lg-auto"><a class="nav-link py-2 px-0 px-lg-2 active" href="/login">Login</a>
            </li>

            <li class="nav-item col-6 col-lg-auto"><a class="nav-link py-2 px-0 px-lg-2 active" href="">Logout</a></li>
        </ul>
        </nav>
    </header>
    {{{ body }}}
</body>

</html>