<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a review</h3>
        <br><br>
        <form class="form new-project-form">
            <div class="input-group">
                <span class="input-group-text"> new Topic :</span>
                <textarea class="form-control" aria-label="Inputtopic"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-text"> Comments:</span>
                <textarea class="form-control" aria-label="inputComment"></textarea>
            </div>
        </form>
    </div>

    {{#if reviews.length}}
    <div class="col-md-6 project-list">
        <h3>Current reviews:</h3>

        {{#each reviews as |review|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4>{{review.review_topic}}</h4>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>